<!DOCTYPE html>
<html>
  <head>
    <title>Covid Info</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'https://bit.ly/2J735eH' %>

    <style>
      body {
        background-color: #688299;
      }
    </style>
  </head>

  <body>
    <%= render partial: "navbar" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
